/* <!-- Esercizio 1 --> */
.ex-1-square {
  transition: 2s;
}

.ex-1-square:hover {
  background-color: red;
}

/* <!-- Esercizio 2 --> */

.ex-2-square {
  transition: 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* <!-- Esercizio 3 --> */

.ex-3-square {
  transition: 2s;
}

.ex-3-square:hover{
  border-radius: 100%;
}

/* <!-- Esercizio 4 --> */

.ex-4-square {
  transition: 2s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* <!-- Esercizio 5 --> */

.ex-5-square {
  transition: 2s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* <!-- Esercizio 6 --> */

.ex-6-img:hover {
  filter: grayscale(100%);
}

/* <!-- Esercizio 7 --> */

.ex-7-img {
  transition: 3s;
}

.ex-7-img:hover {
  filter: grayscale(20%) sepia(60%);
}

/* <!-- Esercizio 8 --> */

.ex-8-img {
  transition: 2s;
}

.ex-8-img:hover {
  filter: grayscale(40%) sepia(50%);
  border-radius: 5%;
}

/* <!-- Esercizio 9 --> */

.ex-9-img {
  transition: 2s;
}

.ex-9-img:hover {
  filter: grayscale(60%) sepia(30%);
  border-radius: 8%;
  transform: scale(1.5);
}

/* <!-- Esercizio 10 --> */

.ex-10-icon {
  animation-name: circle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circle {
0% {
  transform: rotate(360deg);
  }
}

/* ALTERNATIVA*/
/* @keyframes circle {
  0% {
    transform: rotate(360deg);
  }

  25% {
     transform: rotate(270deg);
    }

  50% {
     transform: rotate(180deg);
    }

  75% {
      transform: rotate(90deg);
    }

  100% {
     transform: rotate(0deg);
    }
} */

/* ESERCIZIO 11 */

.ex-11-icon:hover {
  animation-name: circle-hover;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circle-hover {
0% {
  transform: rotate(0deg);
  }


  75% {
    transform: rotate(300deg)
  }

  100% {
    transform: rotate(0deg)
  }

}

/* ESERCIZIO 12 */

.ex-12-button:hover .ex-12-top-white {
  animation-name: button-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}


@keyframes button-top {
  0% {
    left: 10%;
  }

  50% {
    left: 70%;
  }

  100% {
    left: 10%;
  }

}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: button-bottom;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes button-bottom {
  0% {
    right: 20%;
  }

  50% {
    right: 70%;
  }

  100% {
    right: 20%;
  }
}


/* ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white {
  animation-name: button-top-2;
  animation-duration: 5s;
  animation-timing-function: linear;
}


@keyframes button-top-2 {
  0% {
    left: 10%;
  }

  25% {
    left: 70%;
  }

  50% {
    left: 100%;
    top: 0;
  }

  75% {
    top: 100%;
    right: 10%;
  }

  100% {
    bottom: 0;
    left: 100%;
  }
}

/* .ex-13-button:hover .ex-13-bottom-white {
  animation-name: button-bottom-2;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes button-bottom-2 {
  0% {
    right: 20%;
  }

  50% {
    right: 100%;
    bottom: 0;
} */
